.p-pagehead {
  padding-top: rem(70);
  height: rem(250);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
