.c-footernav {
  width: 100%;
}

.c-footernav__link {
  font-size: rem(16);
  padding: rem(10) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.c-footernav__link:hover {
  color: $white;
  text-shadow: $main 0 0 rem(2);
}

.c-footernav__link::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: rem(6);
  left: 43%;

  /*線の形状*/
  width: 14%;
  height: 2px;
  background: $grad;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}

/*現在地とhoverの設定*/

.c-footernav__link:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
